<%- include('./includes/header.ejs') %>
    <div class="container">
        <div class="col">
            <h2>Welcome in my website</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, magnam libero at exercitationem accusantium fugit beatae nostrum expedita nam, quam tempore eos quia blanditiis, nesciunt ipsam optio. Voluptatibus, iste laudantium.</p>
            <a href="/protected" class="btn" >Go protected</a>
        </div>
    </div>
</body>
</html>
