* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;
    color: #fff;
    z-index: 1001;
}

nav ul {
    list-style: none;
    display: flex;
}

ul li {
    list-style: none;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #ddd;

    display: flex;
    align-items: center;
    justify-content: center;
}


.col {
    width: 100%;    
    padding: 20px;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.col h2 {
    margin: 20px 0;
}
.col p {
    max-width: 50%;
}

.btn {
    margin-top: 20px;
    padding: 10px 30px;
    text-align: center;
    background-color: #000;
    color: #fff;

    outline: none;
    border: none;
    cursor: pointer;
}
.big {
    width: 100%;
}
.btn:hover {
    background-color: #222;
    color: #fff;
}
.danger {
    background-color: #fb6d6d;
}
.danger:hover {
    background-color: #ff3838;
}

form {
    padding: 20px;
    width: 100%;
    max-width: 600px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;

    box-shadow: 5px 5px 20px #0000001a;
    border-radius: 5px;
}

form h1 {
    margin: 10px 0 20px;
}

input {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

input {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid #555;
    outline: none;
}

label {
    color: #555;
    font-weight: 500;
    width: 100%;
    padding-bottom: 5px;
}

.error {
    margin-bottom: 10px;
    color: #ff6c6c;
    font-weight: bold;
}

.account_container {
    padding: 20px;
    max-width: 400px;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;

    box-shadow: 5px 5px 20px #0000001a;
    border-radius: 5px;
}
.account_container .btn {
    width: 100%;
}
.account_container h1 {
    margin-bottom: 30px;
}
.account_container ul li {
    padding-left: 0;
}
.account_container ul li strong {
    padding-right: 4px;
}

@media only screen and (max-width: 900px){
    .container {
        min-height: 100vh;
        height: 100vh;
        flex-direction: column;
    }
    .col p {
        max-width: 100%;
    }
}